<div class="container mt-3">
  <div class="row" >
    <div class="col">
      <div><small class="text-muted">Name:</small><font class="font-weight-bold"> {{hero.details.name}}</font></div>
      <div><small class="text-muted">Gender:</small> {{hero.details.gender}}</div>
      <div><small class="text-muted">Nationality:</small> {{hero.details.nationality}}</div>
      <div><small class="text-muted">Concept:</small> {{hero.details.concept}}</div>
    </div>
    <div class="col">
      <div><small class="text-muted">Faction:</small> {{hero.details.fraction}}</div>
      <div><small class="text-muted">Loge:</small> {{hero.details.loge}}</div>
      <div><small class="text-muted">Rank:</small> {{hero.details.rank}}</div>
      <div><small class="text-muted">XP:</small> {{hero.details.xp}}</div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-6">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th class="text-center" scope="col">W4</th>
            <th class="text-center" scope="col">W6</th>
            <th class="text-center" scope="col">W8</th>
            <th class="text-center" scope="col">W10</th>
            <th class="text-center" scope="col">W12</th>
            <th scope="col">Skill</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">

            </td>
            <td class="text-center">

            </td>
            <td class="text-center">
              
            </td>
            <td class="text-center">
              
            </td>
            <td class="text-center">
                <i class="fas fa-times"></i>
            </td>
            <td>
              Fighting
            </td>
          </tr>
          <tr>
              <td class="text-center">
  
              </td>
              <td class="text-center">
  
              </td>
              <td class="text-center">
                
              </td>
              <td class="text-center">
                  <i class="fas fa-times"></i>
              </td>
              <td class="text-center">
                  
              </td>
              <td>
                Healing
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
