<div class="container mt-3">
  <div class="row" >
    <div class="col-sm-4">
        <div style="max-width: 313px;" class="col mb-2">
            <img class="img-fluid rounded" (click)="fileInput.click()" [src]=getSanitizedUrl()>
            <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
          </div>
    </div>
    <div class="col-sm-4">
      <div><small class="text-muted">Name:</small><font class="font-weight-bold"> {{hero.details.name}}</font></div>
      <div><small class="text-muted">Gender:</small> {{hero.details.gender}}</div>
      <div><small class="text-muted">Nationality:</small> {{hero.details.nationality}}</div>
      <div><small class="text-muted">Concept:</small> {{hero.details.concept}}</div>
    </div>
    <div class="col-sm-4">
      <div><small class="text-muted">Faction:</small> {{hero.details.faction}}</div>
      <div><small class="text-muted">Loge:</small> {{hero.details.loge}}</div>
      <div><small class="text-muted">Rank:</small> {{hero.details.rank}}</div>
      <div><small class="text-muted">Status:</small> {{hero.details.status}}</div>
      <div><small class="text-muted">XP:</small> {{hero.details.xp}}</div>
    </div>
  </div>
  <div class="row mt-3">
      <div class="col-sm-6">
          <table class="table table-striped table-sm">
            <thead>
              <tr class="table-info">
                <th class="text-right" scope="col">Attribute</th>
                <th class="text-center" scope="col">W4</th>
                <th class="text-center" scope="col">W6</th>
                <th class="text-center" scope="col">W8</th>
                <th class="text-center" scope="col">W10</th>
                <th class="text-center" scope="col">W12</th>
                <th class="text-center" scope="col">Mod</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let attribute of this.hero.attributes.attributes; let i=index">
                <td class="text-right">
                  {{ attribute.name }}
                </td>
                <td class="text-center">
                    <i *ngIf="attribute.level == 'Dice 4'" class="fas fa-times"></i>
                </td>
                <td class="text-center">
                    <i *ngIf="attribute.level == 'Dice 6'" class="fas fa-times"></i>
                </td>
                <td class="text-center">
                    <i *ngIf="attribute.level == 'Dice 8'" class="fas fa-times"></i>
                </td>
                <td class="text-center">
                    <i *ngIf="attribute.level == 'Dice 10'" class="fas fa-times"></i>
                </td>
                <td class="text-center">
                    <i *ngIf="attribute.level == 'Dice 12'" class="fas fa-times"></i>
                </td>
                <td class="text-center">
                    {{ attribute.modifier }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    <div class="col-sm-6">
      <table class="table table-striped table-sm">
        <thead>
          <tr class="table-success">
            <th class="text-right" scope="col">Skill</th>
            <th class="text-center" scope="col">W4</th>
            <th class="text-center" scope="col">W6</th>
            <th class="text-center" scope="col">W8</th>
            <th class="text-center" scope="col">W10</th>
            <th class="text-center" scope="col">W12</th>
            <th class="text-center" scope="col">Mod</th>
          </tr>
        </thead>
        <tbody>
        
        </tbody>
      </table>
    </div>
  </div>
</div>
