<nav class="navbar navbar-light navbar-expand-lg sticky-top" style="background-color: #563d7c;">
  <a routerLink="/create" class="text-white navbar-brand" href="javascript:void(0)">
    <img src="assets/icons/navbar-icon-30x30.png" width="30" height="30" class="d-inline-block align-top" alt=""> P&P Hero
  </a>
  <button style="border-color: grey;" class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="text-white-50"><i class="fas fa-bars"></i></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="Navbar">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <span *ngIf="this.hero.details.name" class="navbar-text text-white-50 mr-5">
            Welcome, {{ this.hero.details.name }}
          </span>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" routerLink="/create" href="javascript:void(0)">Create</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/export" href="javascript:void(0)">Export</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/import" href="javascript:void(0)">Import</a>
        </li>
      </ul>
  </div>
</nav>

<simple-notifications></simple-notifications>
<router-outlet>
</router-outlet>

<!-- Footer -->
<footer class="footer">
  <p class="mt-5 mb-3 text-muted text-center">
    Made with
    <i class="fas fa-heart text-danger"></i> in Hamburg
  </p>
</footer>
