<div class="container mt-3">
  <div class="card">
    <div class="card-header">
      Hero Details
    </div>
    <div class="card-body">
      <form>
        <div class="row">
          <div style="max-width: 313px;" class="col mb-2">
            <small class="form-text text-muted">Click Image to upload Avatar</small>
            <img class="img-fluid" (click)="fileInput.click()" [src]=getSantizeUrl()>
            <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <small class="form-text text-muted">Name</small>
            <input (keyup)="onFormChange()" [(ngModel)]="this.hero.details.name" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Enter Name">
          </div>
          <div class="col">
            <small class="form-text text-muted">Gender</small>
            <input (keyup)="onFormChange()" [(ngModel)]="this.hero.details.gender" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Enter Gender">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <small class="form-text text-muted">Concept</small>
            <input (keyup)="onFormChange()" [(ngModel)]="this.hero.details.concept" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Enter Concept">
          </div>
          <div class="col">
            <small class="form-text text-muted">Nationality</small>
            <input (keyup)="onFormChange()" [(ngModel)]="this.hero.details.nationality" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Enter Nationality">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <small class="form-text text-muted">Faction</small>
            <input (keyup)="onFormChange()" [(ngModel)]="this.hero.details.faction" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Enter Faction">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <small class="form-text text-muted">Loge</small>
            <input (keyup)="onFormChange()" [(ngModel)]="this.hero.details.loge" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Enter Loge">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <small class="form-text text-muted">Rank</small>
            <input (keyup)="onFormChange()" [(ngModel)]="this.hero.details.rank" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Enter Rank">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <small class="form-text text-muted">Status</small>
            <div [formGroup]="heroStateFormGroup">
              <div class="btn-group btn-group-toggle" ngbRadioGroup formControlName="model">
                <label ngbButtonLabel [ngClass]="ifClassIsActive(1)" class="btn-secondary pl-3 pr-3">
                  <input (change)="onHeroStateFormGroupChange()" ngbButton type="radio" [value]=1>1
                </label>
                <label ngbButtonLabel [ngClass]="ifClassIsActive(2)" class="btn-secondary pl-3 pr-3">
                  <input (change)="onHeroStateFormGroupChange()" ngbButton type="radio" [value]=2>2
                </label>
                <label ngbButtonLabel [ngClass]="ifClassIsActive(3)" class="btn-secondary pl-3 pr-3">
                  <input (change)="onHeroStateFormGroupChange()" ngbButton type="radio" [value]=3>3
                </label>
                <label ngbButtonLabel [ngClass]="ifClassIsActive(4)" class="btn-secondary pl-3 pr-3">
                  <input (change)="onHeroStateFormGroupChange()" ngbButton type="radio" [value]=4>4
                </label>
                <label ngbButtonLabel [ngClass]="ifClassIsActive(5)" class="btn-secondary pl-3 pr-3">
                  <input (change)="onHeroStateFormGroupChange()" ngbButton type="radio" [value]=5>5
                </label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
