<div class="container mt-3">
  <div class="card">
    <div class="card-header">
      Hero Details
    </div>
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col">
            <small class="form-text text-muted">Name</small>
            <input (keyup)="onFormChange()" [(ngModel)]="this.hero.details.name" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Enter Name">
          </div>
          <div class="col">
            <small class="form-text text-muted">Gender</small>
            <input (keyup)="onFormChange()"[(ngModel)]="this.hero.details.gender" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Enter Gender">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <small class="form-text text-muted">Concept</small>
            <input (keyup)="onFormChange()"[(ngModel)]="this.hero.details.concept" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Enter Concept">
          </div>
          <div class="col">
            <small class="form-text text-muted">Nationality</small>
            <input (keyup)="onFormChange()"[(ngModel)]="this.hero.details.nationality" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Enter Nationality">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
