<!-- <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
<a href="#" class="btn btn-primary">Go somewhere</a> -->
<nav class="navbar navbar-light navbar-expand-lg sticky-top" style="background-color: #563d7c;">
  <a class="text-white navbar-brand" href="javascript:void(0)">P&P Hero</a>
  <span *ngIf="this.hero.details.name" class="navbar-text text-white-50 font-size-0">
    Welcome, {{ this.hero.details.name }}
  </span>
  <ul class="navbar-nav ml-auto">
    <button class="btn btn-success" (click)="this.heroSaveToStorage()">
      <i class="far fa-save"></i>
    </button>
  </ul>
  <ul class="navbar-nav ml-auto">
    <button (click)="heroExportFromStorageToClipboard()" class="btn btn-info">
      <i class="fas fa-external-link-alt"></i>
    </button>
  </ul>
</nav>

<div class="container mt-3">
  <div class="card">
    <div class="card-header">
      Hero Details
    </div>
    <div class="card-body">
    <form>
      <div class="row">
        <div class="col">
          <small class="form-text text-muted">Name</small>
          <input [(ngModel)]="this.hero.details.name" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Enter your Name">
        </div>
        <div class="col">
          <small class="form-text text-muted">Gender</small>
          <input [(ngModel)]="this.hero.details.gender" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="What's your gender?">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <small class="form-text text-muted">Concept</small>
          <input [(ngModel)]="this.hero.details.concept" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="What's your concept?">
        </div>
        <div class="col">
          <small class="form-text text-muted">Nationality</small>
          <input [(ngModel)]="this.hero.details.nationality" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="What's your nationality?">
        </div>
      </div>
    </form>
    </div>
  </div>
</div>
